table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid rgb(81, 106, 133);

    
  }
  
  thead th:nth-child(1) {
    width: 20%;
    border: 3px solid rgb(19, 101, 209);
    border: 3px solid rgb(81, 106, 133);
  }
  
  thead th:nth-child(2) {
    width: 20%;
    border: 3px solid rgb(81, 106, 133);
  }
  
  thead th:nth-child(3) {
    width: 30%;
    border: 3px solid rgb(81, 106, 133);
  }
  
  thead th:nth-child(4) {
    width: 30%;
    border: 3px solid rgb(81, 106, 133);
  }
  
  th, td {
    padding: 20px;
    border: 3px solid rgb(81, 106, 133);
    background-color: rgb(194, 228, 216);
  }
  html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }