#td1{
    background-color: aliceblue;
    color: rgb(15, 14, 14);
}

#ispan{
margin-right: 5px;

}
#search{
    margin-left: 5px;
    border-color: aliceblue;
}
#clear{
    margin-left: 5px;
    border-color: aliceblue;
}

#datos {border:1px solid #ccc;padding:10px;font-size:1em;}



#datos td {padding:5px;}

#datos tr.noSearch {background:White;font-size:0.8em;}

#datos tr.noSearch td {padding-top:10px;text-align:right;}

.hide {display:none;}

.red {color:Red;}
